<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/product/add']" name="add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-list>
    <ion-item *ngFor="let p of products; let i=index">
      <ion-label (click)="showModal(p.id)">
        {{p.name}}
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
